client_id                   = "value"
storage_resource_group_name = "value"
resource_group_name         = "value"
storage_group_name          = "value"
container_name              = "value"
key                         = "value"
cluster_domain              = "value"
